<div class = "container">
    <div class="outer">
        <div class="inner">
            <div class="centered">
                
                 <form action="/write" method="POST">
                    <h1 style="color:#666666;">BONG'S MAILGUN</h1>
                    <h4 style="color:#999999;">아주 쉽고 빠르게 이메일을 보내세요</h4>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input name = "address" type = "email" class="mdl-textfield__input" type="text" id="sample3" >
                        <label class="mdl-textfield__label" for="sample3">받는 사람</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input name = "title" class="mdl-textfield__input" type="text" id="sample3">
                        <label class="mdl-textfield__label" for="sample3">메일 제목</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea name = "content" class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
                        <label class="mdl-textfield__label" for="sample5">내용을 입력하세요.</label>
                    </div>
                    <br>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                      Button
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
</div>