<!DOCTYPE html>
<html>
<head>
  <title>BONG's MAILGUN</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.deep_purple-indigo.min.css" />

</head>
<body style="background-image:url('/assets/back.jpg')">

<%= yield %>
</body>
</html>
